

@{
    Layout = null;
}
@if (Model.ListTotalDataCustomerReport != null)
{

    int i = 0;





    //int i = 0; i = (ViewBag.currentPageIndex - 1) * ViewBag.PageSize;
    foreach (var c in Model.ListTotalDataCustomerReport)
    {
       
        <tr>
            <td>@(i + 1)</td>
            <td>@c.CUSTOMERNAME</td>
            <td>@c.CUSTOMERCODE</td>
            <td>@c.PROVINCENAME</td>
            <td>@c.TOTALITEM</td>
            <td>@c.TOTALI</td>
            <td>@c.RATEI</td>
            <td>@c.TOTALH</td>
            <td>@c.RATEH</td>
            <td>@c.TOTALT</td>
            <td>@c.RATET</td>
            <td>@c.TOTALP</td>
            <td>@c.RATEP</td>
            <td>@c.TOTALL</td>
            <td>@c.RATEL</td>
            <td>@c.TOTALJ</td>
            <td>@c.RATEJ</td>
            <td>@c.TOTALKXD</td>
            <td>@c.RATEKXD</td>
            
        </tr>

        i++;
        
    }


}


