@{
    Layout = null;
}
@if (Model.ListReceptacleReport != null)
{
    int i = 0;
    foreach (var c in Model.ListReceptacleReport)
    {
        <tr>
            <td class="text-center">@(i + 1)</td>
            <td class="text-center">@c.NGAY </td>
            <td class="text-center">@c.FLIGHTNUMBER </td>
            <td class="text-center">@c.MO_TA</td>
            <td class="text-center">@c.VI_TRI </td>
            <td class="text-center">@c.CN38 </td>
            
        </tr>
        i++;
    }
}
else
{
    <script type="text/javascript">
        alert("Vui Lòng Nhập Lại Mã Túi !");
    </script>

}
