
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Areas/Admin/Content/dist/css/AdminLTE.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <style>
        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 1px solid #2d2a2a;
        }
    </style>
</head>
<body>
    <form>
        <div class="main">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <div class="box-header with-border">
                            <h3 class="box-title"><strong>CÔNG TY CỔ PHẦN CHUYỂN PHÁT NHANH BƯU ĐIỆN</strong></h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <h3 class="box-title" id="demo1"> </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center"><strong>BÁO CÁO HOẠT ĐỘNG GIAO NHẬN VẬN CHUYỂN HÀNG KHÔNG CHIỀU ĐẾN</strong></h3>
                    <h3 class="text-center" id="demo"></h3>
                    @*<div style="overflow-x:auto;">*@

                </div>
            </div>

            <div class="row">
                @*<div class="col-lg-12 no-print"><button type="submit" class="btn btn-default btn-lrg ajax" name="btnExport" id="btnExport">Xuất Excel</button></div>*@
                <div class="col-lg-12"><input id="printpagebutton" class="btn btn-default btn-lrg ajax" type="button" value="In Báo Cáo" onclick="printpage()" /></div>
            </div>
            
                @*HƯỚNG HỒ CHÍ MINH ĐẾN CÁC TỈNH*@
                @*BẢNG 1*@
            <div class="row">
                <div class="col-lg-12">
                    <h3>-Đến Hồ Chí Minh </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome1"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>    
            
            <div class="row">
                @*BẢNG 2*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome2"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 3*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome3"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 4*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome4"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 5*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome5"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 6*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome6"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 7*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome7"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 8*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome8"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 9*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome9"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*HƯỚNG CÁC TỈNH ĐI HÀ NỘI *@
                <div class="col-lg-12">
                    <h3>-Đến Hà Nội</h3>
                </div>
            </div>

            <div class="row">
                @*BẢNG 10*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome10"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 11*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome11"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 12*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome12"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            

            <div class="row">
                
                @*BẢNG 13*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome13"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 14*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome14"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 15*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome15"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 16*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome16"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 17*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome17"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*HƯỚNG CÁC TỈNH ĐI ĐÀ NẴNG *@
                <div class="col-lg-12">
                    <h3>-Đến Đà Nẵng</h3>
                </div>
            </div>

            <div class="row">
                @*BẢNG 18*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome18"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            

            <div class="row">
                @*BẢNG 19*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome19"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

            <div class="row">
                @*BẢNG 20*@
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;width:auto;border-collapse:collapse;margin-left:7px;">
                        <thead class="bg-light-blue">
                            <tr>
                                <th>STT</th>
                                <th colspan="3" class="text-center">Chặng Bay</th>
                                <th class="text-center">Đơn Vị Vận Chuyển</th>
                                <th class="text-center">Dịch Vụ Vận Chuyển</th>
                                <th colspan="3" class="text-center">Khung Giờ </th>
                                <th class="text-center">Tổng Tải Theo Hợp Đồng</th>
                                <th colspan="2" class="text-center">Tải Kế Hoạch</th>
                                <th class="text-center">Mã Sản Phẩm</th>
                                <th colspan="2" class="text-center">Tải Thực hiện(kg/ngày)</th>
                                <th colspan="2" class="text-center">Lũy Kế Tải Thực Hiện</th>
                                <th colspan="7" class="text-center">Hoạt Động Giao Hàng</th>
                                <th colspan="3" class="text-center">Hoạt Động Nhận Hàng</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th></th>
                                <th colspan="3"></th>
                                <th></th>
                                <th>Tải Cứng KH</th>
                                <th>Tải Mềm KH</th>
                                <th></th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Tải Cứng </th>
                                <th>Tải Mềm </th>
                                <th>Giờ Giao QD </th>
                                <th>Giờ Bay QD </th>
                                <th>Giờ Giao TT </th>
                                <th>Giờ Bay TT </th>
                                <th>Số Hiệu Chuyến Bay</th>
                                <th>Giờ Giao CL </th>
                                <th>Giờ Bay CL </th>
                                <th>Giờ Đáp QĐ </th>
                                <th>Giờ Nhận QĐ </th>
                                <th>Giờ Nhận TT </th>
                                @*<th>Giờ Nhận CL </th>*@
                            </tr>
                        </thead>
                        <tbody id="listAirwayTransportCome20"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>

        </div>
    </form>

</body>
</html>

<script src="/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Areas/Admin/Content/dist/js/adminlte.min.js"></script>
<script type="text/javascript">
    var url_string = document.URL;
    var url = new URL(url_string);
    var date = url.searchParams.get("date");
    var way = url.searchParams.get("way");

    $(document).ready(function () {
        document.getElementById("demo").innerHTML = "<strong>Ngày:" + date + "</strong>";
        document.getElementById("demo1").innerHTML = "<strong>Ngày Lập Báo Cáo:" + ddmmyyyy(); + "</strong>";
        // goi ham Detail
        detail_Airway1();
        detail_Airway2();
        detail_Airway3();
        detail_Airway4();
        detail_Airway5();
        detail_Airway6();
        detail_Airway7();
        detail_Airway8();
        detail_Airway9();
        detail_Airway10();
        detail_Airway11();
        detail_Airway12();
        detail_Airway13();
        detail_Airway14();
        detail_Airway15();
        detail_Airway16();
        detail_Airway17();
        detail_Airway18();
        detail_Airway19();
        detail_Airway20();

    });

    //Phần JS để lấy dữ liệu date theo kiểu yyyyMMdddd
    function ddmmyyyy() {
        var x = new Date();
        var y = x.getFullYear().toString();
        var m = (x.getMonth() + 1).toString();
        var d = x.getDate().toString();
        var h = x.getHours().toString();
        var mi = x.getMinutes().toString();
        (d.length == 1) && (d = '0' + d);
        (m.length == 1) && (m = '0' + m);
        var ddmmyyyy = d + '/' + m + '/' + y + '&nbsp;' + h + ':' + mi
        return ddmmyyyy;
    }

    //Phần bỏ button in E2 khi kích vào
    function printpage() {
        //Get the print button and put it into a variable
        var printButton = document.getElementById("printpagebutton");
        //Set the print button visibility to 'hidden'
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Set the print button to 'visible' again
        //[Delete this line if you want it to stay hidden after printing]
        printButton.style.visibility = 'visible';
    }

    //Phần Xuất excel của bảng chi tiết
    $(function () {
        $('[id*=btnExport]').on('click', function () {
            ExportToExcel('example1');
            //location.reload();
        });
    });
    function ExportToExcel(Id) {
        var tab_text = "<table border='2px'><tr>";
        var textRange;
        var j = 0;
        tab = document.getElementById(Id);
        var headerRow = $('[id*=example1] tr:first');
        tab_text += headerRow.html() + '</tr><tr>';



        var rows = $('[id*=example1] tr:not(:has(th))');
        for (j = 0; j < rows.length; j++) {
            if ($(rows[j]).css('display') != 'none') {
                tab_text = tab_text + rows[j].innerHTML + "</tr>";
            }
        }
        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, ""); //remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");
        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, Id + ".xls");
        }
        else {                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
        }
        return (sa);
    }


    //Phần JS gọi đến dữ liệu của bảng 1
    function detail_Airway1() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome1", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome1').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 2
    function detail_Airway2() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome2", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome2').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 3
    function detail_Airway3() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome3", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome3').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 4
    function detail_Airway4() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome4", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome4').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 5
    function detail_Airway5() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome5", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome5').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 6
    function detail_Airway6() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome6", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome6').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 7
    function detail_Airway7() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome7", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome7').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 8
    function detail_Airway8() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome8", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome8').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 9
    function detail_Airway9() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome9", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome9').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 10
    function detail_Airway10() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome10", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome10').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 11
    function detail_Airway11() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome11", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome11').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 12
    function detail_Airway12() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome12", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome12').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 13
    function detail_Airway13() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome13", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome13').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 14
    function detail_Airway14() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome14", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome14').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 15
    function detail_Airway15() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome15", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome15').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 16
    function detail_Airway16() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome16", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome16').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 17
    function detail_Airway17() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome17", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome17').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 18
    function detail_Airway18() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome18", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome18').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 19
    function detail_Airway19() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome19", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome19').html(result);

            }
        })
    }

    //Phần JS gọi đến dữ liệu của bảng 20
    function detail_Airway20() {
        $.ajax({
            url: '@Url.Action("ListDetailedAirwayTransportCome20", "AirwayTransportCome")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    date: date,
                    way: way,
                },
            success: function (result) {
                $('.loading-element').hide();
                $('#listAirwayTransportCome20').html(result);

            }
        })
    }




</script>



