

@{
    Layout = null;
}
@if (Model != null)
{
    float i = 0;
    float a1 = 0;
    float a2 = 0;
    float a3 = 0;
    float a4 = 0;
    float a5 = 0;
    float a6 = 0;
    float sumtaicungKH = 0;
    float sumtaimemKH = 0;
    float sumtaicungTH = 0;
    float sumtaimemTH = 0;
    float sumtaicungLK = 0;
    float sumtaimemLK = 0;

    foreach (var c in Model)
    {
        try
        {
            a1 = float.Parse(@c.TAICUNG_KH);
        }
        catch
        {
            a1 = 0;
        }


        try
        {
            a2 = float.Parse(@c.TAIMEM_KH);
        }
        catch
        {
            a2 = 0;
        }

        try
        {
            a3 = float.Parse(@c.TAICUNG_TH);
        }
        catch
        {
            a3 = 0;
        }

        try
        {
            a4 = float.Parse(@c.TAIMEM_TH);
        }
        catch
        {
            a4 = 0;
        }
        try
        {
            a5 = float.Parse(@c.TAICUNG_LK);
        }
        catch
        {
            a5 = 0;
        }
        try
        {
            a6 = float.Parse(@c.TAIMEM_LK);
        }
        catch
        {
            a6 = 0;
        }


        <tr>
            <td>@c.STT</td>
            <td colspan="3">@c.CHANGBAY</td>
            <td>@c.DONVIVANCHUYEN</td>
            <td>@c.DICHVUVANCHUYEN</td>
            <td colspan="3">@c.KHUNGGIO</td>
            <td>@c.TONGTAITHEOHOPDONG</td>
            <td>@c.TAICUNG_KH</td>
            <td>@c.TAIMEM_KH</td>
            <td>@c.MASP</td>
            <td>@c.TAICUNG_TH</td>
            <td>@c.TAIMEM_TH</td>
            <td>@c.TAICUNG_LK</td>
            <td>@c.TAIMEM_LK</td>
            <td>@c.GIOGIAO_QD</td>
            <td>@c.GIOBAY_QD</td>
            <td>@c.GIOGIAO_TT</td>
            <td>@c.GIOBAY_TT</td>
            <td>@c.SOHIEUCHUYENBAY</td>
            <td>@c.GIOGIAO_CL</td>
            <td>@c.GIOBAY_CL</td>
            <td>@c.GIODAP_QD</td>
            <td>@c.GIONHAN_QD</td>
            <td>@c.GIONHAN_TT</td>



        </tr>

        i++;
        sumtaicungKH += a1;
        sumtaimemKH += a2;
        sumtaicungTH += a3;
        sumtaimemTH += a4;
        sumtaicungLK += a5;
        sumtaimemLK += a6;




    }
    <tr class="bg-light-blue">
        <th></th>
        <th colspan="3">Tổng Cộng:</th>
        <th></th>
        <th></th>
        <th colspan="3"></th>
        <th></th>
        <th>@sumtaicungKH</th>
        <th>@sumtaimemKH</th>
        <th></th>
        <th>@sumtaicungTH </th>
        <th>@sumtaimemTH </th>
        <th>@sumtaicungTH </th>
        <th>@sumtaimemTH </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th></th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>

    </tr>

}


