

@{
    Layout = null;
}
@if (Model.ListExpressRoadReport != null)
{

    int i = 0;





    //int i = 0; i = (ViewBag.currentPageIndex - 1) * ViewBag.PageSize;
    foreach (var c in Model.ListExpressRoadReport)
    {
       
        <tr>
            <td>@(i + 1)</td>
            <td>@c.ID</td>
            <td>@c.CONTACT_NAME</td>

            <td>@c.CONTACT_ADDRESS</td>
            <td>@c.GENERAL_EMAIL</td>

            <td>@c.CONTACT_PHONE_WORK</td>
            <td>@c.CONTACT_PROVINCE</td>

            <td>@c.CONTACT_DISTRICT</td>
            <td>@c.CUSTOMER_CODE</td>

            <td>@c.UNIT_CODE</td>
            <td>@c.API_KEY</td>

            <td>@c.CUSTOMER_ID</td>
            
            
        </tr>

        i++;
        
    }


}


