

@{
    Layout = null;
}
@if (Model.ListExpressRoadReport != null)
{

    int i = 0;
    
    //int i = 0; i = (ViewBag.currentPageIndex - 1) * ViewBag.PageSize;
    foreach (var c in Model.ListExpressRoadReport)
    {
       
        <tr>
            <td>@(i + 1)</td>
            <td>@c.ID</td>
            <td>@c.AMND_DATE</td>

            <td>@c.READ</td>
            <td>@c.USER_NAME</td>

            <td>@c.E_CODE</td>
            <td>@c.CUSTOMERCODE</td>
            <td>@c.STATUS</td>
            <td>@c.NOTE</td>
            <td>@c.CITY</td>
            <td>@c.WEIGHT</td>

            <td>@c.COLLECT</td>
            <td>@c.DELIVERY_DATE</td>
        </tr>

        i++;

    }
    
}


