

@{
    Layout = null;
}
@if (Model.ListTransferManagement_SOTUI_Report != null)
{

    int i = 0;




    //int i = 0; i = (ViewBag.currentPageIndex - 1) * ViewBag.PageSize;
    foreach (var c in Model.ListTransferManagement_SOTUI_Report)
    {
        <tr>
            <td>@(i + 1)</td>
            <td>@c.FromPosCode</td>
            <td>@c.FromPosName</td>
            <td>@c.ToPosCode</td>
            <td>@c.ToPosName</td>
            <td>@c.PickUpDate</td>
            <td>@c.ChThu</td>
            <td>
                <a href="/Admin/TransferManagement/E2_TransferManagementDetailReport/?fromposcode=@c.FromPosCode&toposcode=@c.ToPosCode&date=@c.PickUpDate&mailtrip=@c.ChThu&postbag=@c.TuiSo&typecomunication=@ViewBag.typecomunication" target="_blank">@c.TuiSo</a>
            </td>
            <td>@c.CountMaE1 </td>
            
        </tr>

        i++;

    }


}


