

@{
    Layout = null;
}
@if (Model.ListUserManagement_BP_OA_Report != null)
{

    int i = 0;

    
    foreach (var c in Model.ListUserManagement_BP_OA_Report)
    {
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label for="CUSTOMER_CODE">Mã Khách Hàng:</label>
                    <label id="CUSTOMER_CODE_ERROR" style="color:#ff0000">Vui Lòng Nhập Mã Khách Hàng</label>
                    <input class="form-control " type="text" id="CUSTOMER_CODE" value="@c.CUSTOMER_CODE">
                </div>
                <div class="form-group">
                    <label for="CONTACT_NAME">Tên Khách Hàng:</label>
                    <label id="CONTACT_NAME_ERROR" style="color:#ff0000">Vui Lòng Nhập Tên Khách Hàng</label>
                    <input class="form-control " type="text" id="CONTACT_NAME" value="@c.CONTACT_NAME">
                </div>
                <div class="form-group">
                    <label for="DATE_CREATE">Ngày Khởi Tạo:'@c.DATE_CREATE'</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control pull-right" id="DATE_CREATE" type="text" data-date-format="dd/mm/yyyy">
                    </div>
                </div>

                <div class="form-group">
                    <label for="DATE_END">Ngày Kết Thúc:'@c.DATE_END'</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control pull-right" id="DATE_END" type="text" data-date-format="dd/mm/yyyy">
                    </div>
                </div>
                <div class="form-group">
                    <label for="CONTACT_PHONE_WORK">Số Điện Thoại:</label>
                    <label id="CONTACT_PHONE_WORK_ERROR" style="color:#ff0000">Vui Lòng Nhập Số Điện Thoại</label>
                    <input class="form-control " type="text" id="CONTACT_PHONE_WORK" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" value="@c.CONTACT_PHONE_WORK">
                </div>
                <div class="form-group">
                    <label for="BUSINESS_TAX">Mã Số Thuế:</label>
                    <input class="form-control " type="text" id="BUSINESS_TAX" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" value="@c.BUSINESS_TAX">
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="GENERAL_EMAIL">Email:</label>
                    <label id="GENERAL_EMAIL_ERROR" style="color:#ff0000">Vui Lòng Nhập Email</label>
                    <label id="CHECK_GENERAL_EMAIL" style="color:#0094ff">Vui Lòng Nhập Email Đúng Định Dạng</label>
                    <input class="form-control " type="text" id="GENERAL_EMAIL" onkeyup="checkEmail('GENERAL_EMAIL')" value="@c.GENERAL_EMAIL">
                </div>
                <div class="form-group">
                    <label for="CONTACT_ADDRESS">Địa Chỉ Liên Hệ:</label>
                    <textarea rows="2" class="form-control" id="CONTACT_ADDRESS" value="@c.CONTACT_ADDRESS"></textarea>
                </div>
                <div class="form-group">
                    <label for="UNIT_CODE">Mã Bưu Cục Khai Thác:</label>
                    <input class="form-control " type="text" id="UNIT_CODE" maxlength="11" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" value="@c.UNIT_CODE">
                </div>
                <div class="form-group">
                    <label for="CONTRACT_NUMBER">Số Hợp Đồng:</label>
                    <input class="form-control " type="text" id="CONTRACT_NUMBER" value="@c.CONTRACT_NUMBER">
                </div>
                <div class="form-group">
                    <label for="CUSTOMER_ACTIVE">Trạng Thái Kích Hoạt:'@c.CUSTOMER_ACTIVE'</label>
                    <select class="form-control select2" style="width: 100%;" id="CUSTOMER_ACTIVE">
                        <option selected="selected" value="0">Chưa Kích Hoạt</option>
                        <option value="1">Kích Hoạt </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="TOTAL_CUSTOMER_CODE">Mã Khách Hàng Tổng:</label>
                    <input class="form-control " type="text" id="TOTAL_CUSTOMER_CODE" value="@c.TOTAL_CUSTOMER_CODE">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="PAYMENT_ADDRESS">Địa Chỉ Thanh Toán:</label>
                    <textarea rows="2" class="form-control" id="PAYMENT_ADDRESS" value="@c.PAYMENT_ADDRESS"></textarea>
                </div>
                <div class="form-group">
                    <label for="PAYMENT_METHOD">Hình Thức Thanh Toán:'@c.PAYMENT_METHOD'</label>
                    <select class="form-control select2" style="width: 100%;" id="PAYMENT_METHOD">
                        <option selected="selected" value="TM">Tiền Mặt</option>
                        <option value="CK">Chuyển Khoản </option>
                    </select>
                    @*<input class="form-control " type="text" id="CONTACT_DISTRICT">*@
                </div>
                <div class="form-group">
                    <label for="CONTACT_PROVINCE">Mã Tỉnh:'@c.CONTACT_PROVINCE'</label>
                    <select class="form-control select2" style="width: 100%;" id="CONTACT_PROVINCE">
                    </select>
                    @*<textarea rows="2" class="form-control" id="CONTACT_PROVINCE"></textarea>*@
                </div>
                <div class="form-group">
                    <label for="CONTACT_DISTRICT">Mã Quận:'@c.CONTACT_DISTRICT'</label>
                    <select class="form-control select2" style="width: 100%;" id="CONTACT_DISTRICT"></select>
                </div>
                <div class="form-group">
                    <label for="EMPLOYEE_DEBT_CODE">Mã Nhân Viên Thu Nợ:</label>
                    <input class="form-control " type="text" id="EMPLOYEE_DEBT_CODE" value="@c.EMPLOYEE_DEBT_CODE">
                </div>
                <div class="form-group">
                    <label for="EMPLOYEE_SALE_CODE">Mã Nhân Viên SALE:</label>
                    <input class="form-control " type="text" id="EMPLOYEE_SALE_CODE" value="@c.EMPLOYEE_SALE_CODE">
                </div>
            </div>
        </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <a href="/Admin/UserManagement/UserManagementDetailReport" class="btn btn-default btn-md"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lrg ajax" id="btnreportedit"><span class="glyphicon glyphicon-ok"></span>Save </button>
                </div>
            </div>

    }
    @*<input type="text" class="hidden" value="@Url.Action("EditUserReport", "UserManagement")" name="EditUserUrl"/>*@
    <script src="~/Areas/Admin/Content/bower_components/ValidateJS/EditValidateJS.js"></script>
    <script type="text/javascript">
        
        function checkEmail(element) {
            if ($("#" + element).val() != "") {
                if (!validateEmail($("#" + element).val())) {
                    var emails = document.getElementById("GENERAL_EMAIL");
                    $("#GENERAL_EMAIL_ERROR").hide();
                    $("#CHECK_GENERAL_EMAIL").show();
                    emails.focus();
                    return false;
                }
            }
            $("#CHECK_GENERAL_EMAIL").hide();
            return true;
        }



        function checkCUSTOMER_CODE() {
            if (document.getElementById('CUSTOMER_CODE').value == ""
                || document.getElementById('CUSTOMER_CODE').value == undefined) {
                $("#CUSTOMER_CODE_ERROR").show();
                return false;
            }
            else {
                return true;
            }
        }

        function checkCONTACT_NAME() {
            if (document.getElementById('CONTACT_NAME').value == ""
                || document.getElementById('CONTACT_NAME').value == undefined) {
                $("#CONTACT_NAME_ERROR").show();
                return false;
            }
            else {
                return true;
            }
        }


        function checkCONTACT_PHONE_WORK() {
            if (document.getElementById('CONTACT_PHONE_WORK').value == ""
                || document.getElementById('CONTACT_PHONE_WORK').value == undefined) {
                $("#CONTACT_PHONE_WORK_ERROR").show();
                return false;
            }
            else {
                return true;
            }
        }

        //function checkBUSINESS_TAX() {
        //    if (document.getElementById('BUSINESS_TAX').value == ""
        //       || document.getElementById('BUSINESS_TAX').value == undefined) {
        //        $("#BUSINESS_TAX_ERROR").show();
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}

        function checkGENERAL_EMAIL() {
            if (document.getElementById('GENERAL_EMAIL').value == ""
                || document.getElementById('GENERAL_EMAIL').value == undefined) {
                $("#GENERAL_EMAIL_ERROR").show();
                return false;
            }
            else {
                return true;
            }
        }

        //function checkCONTACT_ADDRESS() {
        //    if (document.getElementById('CONTACT_ADDRESS').value == ""
        //        || document.getElementById('CONTACT_ADDRESS').value == undefined) {
        //        $("#CONTACT_ADDRESS_ERROR").show();
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}

        //function checkUNIT_CODE() {
        //    if (document.getElementById('UNIT_CODE').value == ""
        //        || document.getElementById('UNIT_CODE').value == undefined) {
        //        $("#UNIT_CODE_ERROR").show();
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}

        //function checkCONTRACT_NUMBER() {
        //    if (document.getElementById('CONTRACT_NUMBER').value == ""
        //        || document.getElementById('CONTRACT_NUMBER').value == undefined) {
        //        $("#CONTRACT_NUMBER_ERROR").show();
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}


        //function checkTOTAL_CUSTOMER_CODE() {
        //    if (document.getElementById('TOTAL_CUSTOMER_CODE').value == ""
        //        || document.getElementById('TOTAL_CUSTOMER_CODE').value == undefined) {
        //        $("#TOTAL_CUSTOMER_CODE_ERROR").show();
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}

        //function checkPAYMENT_ADDRESS() {
        //    if (document.getElementById('PAYMENT_ADDRESS').value == ""
        //        || document.getElementById('PAYMENT_ADDRESS').value == undefined) {
        //        $("#PAYMENT_ADDRESS_ERROR").show();
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}



        //function checkEMPLOYEE_DEBT_CODE() {
        //    if (document.getElementById('EMPLOYEE_DEBT_CODE').value == ""
        //        || document.getElementById('EMPLOYEE_DEBT_CODE').value == undefined) {
        //        $("#EMPLOYEE_DEBT_CODE_ERROR").show();
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}

        //function checkEMPLOYEE_SALE_CODE() {
        //    if (document.getElementById('EMPLOYEE_SALE_CODE').value == ""
        //        || document.getElementById('EMPLOYEE_SALE_CODE').value == undefined) {
        //        $("#EMPLOYEE_SALE_CODE_ERROR").show();
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}




        $(document).ready(function () {
            $("#CHECK_GENERAL_EMAIL").hide();

            $("#CUSTOMER_CODE_ERROR").hide();

            $("#CONTACT_NAME_ERROR").hide();


            $("#CONTACT_PHONE_WORK_ERROR").hide();

            //$("#BUSINESS_TAX_ERROR").hide();

            $("#GENERAL_EMAIL_ERROR").hide();

            //$("#CONTACT_ADDRESS_ERROR").hide();

            //$("#UNIT_CODE_ERROR").hide();

            //$("#CONTRACT_NUMBER_ERROR").hide();



            //$("#TOTAL_CUSTOMER_CODE_ERROR").hide();

            //$("#PAYMENT_ADDRESS_ERROR").hide();




            //$("#EMPLOYEE_DEBT_CODE_ERROR").hide();

            //$("#EMPLOYEE_SALE_CODE_ERROR").hide();

        });

        $("#btnreportedit").on('click', function () {


            //$("#EMAIL_ERROR").hide();
            //check();
            // goi ham Detail


            if (checkCUSTOMER_CODE() == true && checkCONTACT_NAME() == true && checkCONTACT_PHONE_WORK() == true  && checkGENERAL_EMAIL() == true) {
                detail();
            }

            if (checkCUSTOMER_CODE() == true) {
                $("#CUSTOMER_CODE_ERROR").hide();
            }
            else {
                $("#CUSTOMER_CODE_ERROR").show();

            }

            if (checkCONTACT_NAME() == true) {
                $("#CONTACT_NAME_ERROR").hide();
            }
            else {
                $("#CONTACT_NAME_ERROR").show();

            }


            if (checkCONTACT_PHONE_WORK() == true) {
                $("#CONTACT_PHONE_WORK_ERROR").hide();
            }
            else {
                $("#CONTACT_PHONE_WORK_ERROR").show();

            }

            //if (checkBUSINESS_TAX() == true) {
            //    $("#BUSINESS_TAX_ERROR").hide();
            //}
            //else {
            //    $("#BUSINESS_TAX_ERROR").show();

            //}

            if (checkGENERAL_EMAIL() == true) {
                $("#GENERAL_EMAIL_ERROR").hide();
            }
            else {
                $("#GENERAL_EMAIL_ERROR").show();

            }

            //if (checkCONTACT_ADDRESS() == true) {
            //    $("#CONTACT_ADDRESS_ERROR").hide();
            //}
            //else {
            //    $("#CONTACT_ADDRESS_ERROR").show();

            //}

            //if (checkUNIT_CODE() == true) {
            //    $("#UNIT_CODE_ERROR").hide();
            //}
            //else {
            //    $("#UNIT_CODE_ERROR").show();

            //}

            //if (checkCONTRACT_NUMBER() == true) {
            //    $("#CONTRACT_NUMBER_ERROR").hide();
            //}
            //else {
            //    $("#CONTRACT_NUMBER_ERROR").show();

            //}


            //if (checkTOTAL_CUSTOMER_CODE() == true) {
            //    $("#TOTAL_CUSTOMER_CODE_ERROR").hide();
            //}
            //else {
            //    $("#TOTAL_CUSTOMER_CODE_ERROR").show();

            //}

            //if (checkPAYMENT_ADDRESS() == true) {
            //    $("#PAYMENT_ADDRESS_ERROR").hide();
            //}
            //else {
            //    $("#PAYMENT_ADDRESS_ERROR").show();

            //}


            //if (checkEMPLOYEE_DEBT_CODE() == true) {
            //    $("#EMPLOYEE_DEBT_CODE_ERROR").hide();
            //}
            //else {
            //    $("#EMPLOYEE_DEBT_CODE_ERROR").show();

            //}

            //if (checkEMPLOYEE_SALE_CODE() == true) {
            //    $("#EMPLOYEE_SALE_CODE_ERROR").hide();
            //}
            //else {
            //    $("#EMPLOYEE_SALE_CODE_ERROR").show();

            //}

        });

        $(function () {
            $('#DATE_CREATE').datepicker()
            $("#DATE_CREATE").datepicker({
                dateFormat: "dd/mm/yyyy"
            }).datepicker("setDate", "0");
        })


        $(function () {
            $('#DATE_END').datepicker()
            $("#DATE_END").datepicker({
                dateFormat: "dd/mm/yyyy"
            }).datepicker("setDate", "0");
        })

        //Phần lấy dữ liệu tỉnh Nhận
        $(document).ready(function () {

            $.getJSON("/UserManagement/ProvinceCode", function (data) {
                $.each(data, function (i, data) {

                    $('<option>',
                       {
                           value: data.PROVINCECODE,
                           text: data.PROVINCENAME
                       }).html(data.PROVINCECODE + '-' + data.PROVINCENAME).appendTo("#CONTACT_PROVINCE");
                });
            })

        });

        ////Lần đầu load quận= 10
        $(document).ready(function () {
            $.ajax({
                url: "/UserManagement/DistrictCode",
                dataType: "json",
                data: { provincecode: 10 },
                success: function (data) {
                    $('#CONTACT_DISTRICT').html('<option>DISTRICT </option>');
                    jQuery.each(data, function (i, val) {
                        $('#CONTACT_DISTRICT').html($('#CONTACT_DISTRICT').html() +
                            "<option value='" + val.DISTRICTCODE + "'>" + val.DISTRICTCODE + '-' + val.DISTRICTNAME + "</option>");
                    });
                }
            });
        });
        //Sự kiện thay đổi quận theo tỉnh
        $(document).ready(function () {
            $('#CONTACT_PROVINCE').change(function () {
                $.ajax({
                    url: "/UserManagement/DistrictCode",
                    dataType: "json",
                    data: { provincecode: $("#CONTACT_PROVINCE").val() },
                    success: function (data) {
                        $('#CONTACT_DISTRICT').html('<option>DISTRICT </option>');
                        jQuery.each(data, function (i, val) {
                            $('#CONTACT_DISTRICT').html($('#CONTACT_DISTRICT').html() +
                                "<option value='" + val.DISTRICTCODE + "'>" + val.DISTRICTCODE + '-' + val.DISTRICTNAME + "</option>");
                        });
                    }
                });
            })
        });

        //Phần dữ liệu chi tiết người dùng nhập vào
            var detail = function (p) {
            var url_string = document.URL;
            var url = new URL(url_string);
            var id = url.searchParams.get("id");
            $.ajax({
                url: '@Url.Action("EditUserReport", "UserManagement")',
                method: 'GET',
                dataType: 'html',
                data:
                    {
                        EDIT_ID: id,

                        CUSTOMER_CODE: $('#CUSTOMER_CODE').val(),

                        CONTACT_NAME: $('#CONTACT_NAME').val(),

                        DATE_CREATE: $('#DATE_CREATE').val(),

                        DATE_END: $('#DATE_END').val(),

                        CONTACT_PHONE_WORK: $('#CONTACT_PHONE_WORK').val(),

                        CONTACT_ADDRESS: $('#CONTACT_ADDRESS').val(),

                        BUSINESS_TAX: $('#BUSINESS_TAX').val(),

                        GENERAL_EMAIL: $('#GENERAL_EMAIL').val(),

                        UNIT_CODE: $('#UNIT_CODE').val(),

                        CONTRACT_NUMBER: $('#CONTRACT_NUMBER').val(),

                        CUSTOMER_ACTIVE: $('#CUSTOMER_ACTIVE').val(),

                        TOTAL_CUSTOMER_CODE: $('#TOTAL_CUSTOMER_CODE').val(),

                        PAYMENT_ADDRESS: $('#PAYMENT_ADDRESS').val(),

                        PAYMENT_METHOD: $('#PAYMENT_METHOD').val(),

                        CONTACT_PROVINCE: $('#CONTACT_PROVINCE').val(),

                        CONTACT_DISTRICT: $('#CONTACT_DISTRICT').val(),

                        EMPLOYEE_DEBT_CODE: $('#EMPLOYEE_DEBT_CODE').val(),

                        EMPLOYEE_SALE_CODE: $('#EMPLOYEE_SALE_CODE').val(),


                    },
                success: function (result) {
                    alert("Sửa Thành Công");
                    setTimeout(function () {
                        location.reload();
                    }, 3000
                    );

                }
            })
        }
    </script>
}


