

@{
    Layout = null;
}
@if (Model.ListUserManagementReport != null)
{
    
    int i = 0; i = (ViewBag.currentPageIndex - 1) * ViewBag.PageSize;
    foreach (var c in Model.ListUserManagementReport)
    {
        <tr>
            <td>@(i + 1)</td>
            @*<td>@c.CUSTOMER_ID</td>*@
            <td>@c.CUSTOMER_CODE</td>
            <td>@c.CONTACT_NAME</td>
            <td>@c.CONTACT_PHONE_WORK</td>
            <td>@c.GENERAL_EMAIL</td>
            <td>@c.CONTACT_ADDRESS </td>
            @*<td><a href="/Admin/UserManagement/ID_USER_MANAGEMENT_DETAIL/?id=@c.Id" target="_blank">@c.Id</a></td>*@
            <td><a href="/Admin/UserManagement/ID_USER_MANAGEMENT_DETAIL/?id=@c.CUSTOMER_ID" target="_blank" class="btn btn-primary btn-md" rel="@c.CUSTOMER_ID" id="btnreportedit"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><button type="button" class="btn btn-danger btn-lrg ajax" id="btnreportdelete" rel="@c.CUSTOMER_ID"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tr>
        <div id="list_user"></div>
        i++;

    }
<script>
    
    $(document).ready(function () {
        $('[id*=btnreportdelete]').click(function (e) {
            var delete_id = $(this).attr('rel');
            //alert(delete_id);
            if (confirm("Bạn có muốn xóa không ?")) {
                $.ajax({
                    url: '@Url.Action("DeleteUserReport", "UserManagement")',
                    dataType: "html",
                    data:
                     {
                         delete_id: delete_id

                     },
                    success: function (result) {
                        location.reload();
                        alert("Xóa Thành Công");

                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
            else {

            }
        });
    });


</script>

}
<input type="hidden" value="@ViewBag.currentPageIndex" id="currentPage" />
<input type="hidden" id="total_page" value="@ViewBag.total_page" />
<input type="hidden" id="total" value="@ViewBag.total" />


