

@{
    Layout = null;
}
@if (Model.ListUserManagement_BP_OA_Report != null)
{
    
    int i = 0; i = (ViewBag.currentPageIndex - 1) * ViewBag.PageSize;
    foreach (var c in Model.ListUserManagement_BP_OA_Report)
    {
        <tr>
            <td>@(i + 1)</td>
            <td>@c.CUSTOMER_CODE</td>
            <td>@c.CONTACT_NAME</td>
            <td>@c.CONTACT_PHONE_WORK</td>
            <td>@c.GENERAL_EMAIL</td>
            <td>@c.CONTACT_ADDRESS </td>
            
            <td>
                <div class="form-group">
                    <div class="col-md-2">
                        <a href="/Admin/UserManagement/ID_USER_MANAGEMENT_DETAIL/?id=@c.ID" target="_blank" class="btn btn-primary btn-md" rel="@c.ID" id="btnreportedit"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <button type="button" class="btn btn-danger btn-lrg ajax" id="btnreportdelete" rel="@c.ID"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <a href="/Admin/UserManagement/CreateChannel/?id=@c.ID" target="_blank" class="btn btn-success btn-md" rel="@c.ID" id="btnreportedit"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    </div>
                </div>
            </td>
            @*<td><button type="button" class="btn btn-danger btn-lrg ajax" id="btnreportdelete" rel="@c.CUSTOMER_ID"><span class="glyphicon glyphicon-remove"></span></button></td>*@
        </tr>
        <div id="list_user"></div>
        i++;

    }
<script>
    
    $(document).ready(function () {
        $('[id*=btnreportdelete]').click(function (e) {
            var delete_id = $(this).attr('rel');
            //alert(delete_id);
            if (confirm("Bạn có muốn xóa không ?")) {
                $.ajax({
                    url: '@Url.Action("DeleteUserReport", "UserManagement")',
                    dataType: "html",
                    data:
                     {
                         delete_id: delete_id

                     },
                    success: function (result) {
                        alert("Xóa Thành Công");
                        setTimeout(function () {
                                location.reload();
                            }, 3000
                        );

                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
            else {

            }
        });
    });


</script>

}
<input type="hidden" value="@ViewBag.currentPageIndex" id="currentPage" />
<input type="hidden" id="total_page" value="@ViewBag.total_page" />
<input type="hidden" id="total" value="@ViewBag.total" />


