

@{
    Layout = null;
}
@if (Model.ListUserManagement_BP_Report != null)
{

    int i = 0;
    <div class="col-md-12">
                <div class="form-group">
                    <div style="overflow-x:auto;">
                        <table id="myTable" class="table table-bordered table-hover">
                            <thead>
                                <tr class="bg-light-blue color-palette">
                                    <th class="text-center">STT</th>
                                    @*<th class="text-center">ID BP</th>*@
                                    <th class="text-center">Tên Khách Hàng</th>
                                    <th class="text-center">Địa Chỉ Khách Hàng</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Số Điện Thoại</th>
                                    <th class="text-center">Mã Tỉnh</th>
                                    <th class="text-center">Mã Quận</th>
                                    <th class="text-center">Mã Khách Hàng</th>
                                    @*<th class="text-center">API_KEY</th>
                                    <th class="text-center">ID Khách Hàng</th>*@
                                    <th class="text-center">EDIT/DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="list_id_user">
                                @foreach (var c in Model.ListUserManagement_BP_Report)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        @*<td>@c.ID</td>*@
                                        <td>@c.CONTACT_NAME</td>
                                        <td>@c.CONTACT_ADDRESS</td>
                                        <td>@c.GENERAL_EMAIL</td>
                                        <td>@c.CONTACT_PHONE_WORK</td>
                                        <td>@c.CONTACT_PROVINCE</td>
                                        <td>@c.CONTACT_DISTRICT</td>
                                        <td>@c.CUSTOMER_CODE</td>
                                        @*<td>@c.API_KEY</td>
                                        <td>@c.CUSTOMER_ID</td>*@
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-primary btn-lrg ajax btnreportedit"  rel="@c.ID"><span class="glyphicon glyphicon-pencil"></span></button>
                                                </div>
                                                <div class="col-md-2 col-md-offset-2">
                                                    <button type="button" class="btn btn-danger btn-lrg ajax btnreportdelete"  rel="@c.ID"><span class="glyphicon glyphicon-remove"></span></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

<script type="text/javascript" src="~/Areas/Admin/Content/bower_components/ValidateJS/CreateValidateJS.js"></script>
<script type="text/javascript">

    //Phần Lấy thông tin lên form sửa
    $(document).ready(function () {
        $('.btnreportedit').click(function (e) {
            var get_data_id = $(this).attr('rel');
            $.ajax({
                url: "/UserManagement/GET_DATA_BUSINESS_PROFILE",
                medthod:'GET',
                beforeSend: function () {
                    $('.loading-element-update').show();
                },
                dataType: "json",
                data:
                 {
                     get_data_id: get_data_id
                },
                success: function (data) {
                    $('.loading-element-add').hide();
                    //data = JSON.parse(data);
                    $('input[name="GetID"]').val(get_data_id);
                    jQuery.each(data, function (i, val) {
                        $('#CUSTOMER_CODE').val(val.CUSTOMER_CODE);
                        $('#CONTACT_NAME').val(val.CONTACT_NAME);
                        $('#CONTACT_PHONE_WORK').val(val.CONTACT_PHONE_WORK);
                        $('#GENERAL_EMAIL').val(val.GENERAL_EMAIL);
                        $('#CONTACT_ADDRESS').val(val.CONTACT_ADDRESS);
                        //$('#UNIT_CODE').val(val.UNIT_CODE);
                    });
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });

        });
    });


    //Phần xóa dữ liệu theo id người dùng
    $(document).ready(function () {
        $('.btnreportdelete').click(function (e) {
            var delete_id = $(this).attr('rel');
            if (confirm("Bạn có muốn xóa không ?")) {
                $.ajax({
                    url: '@Url.Action("DeleteChannelReport", "UserManagement")',
                    medthod: 'GET',
                    dataType: 'html',
                    data:
                     {
                         delete_id: delete_id
                     },
                    success: function (data) {
                        alert("Xóa Kênh Thành Công");
                        setTimeout(function () {
                            location.reload();
                        }, 3000
                       );
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
            else {

            }
        });
    });


</script>





}



