@{
//  Layout = null;
}

<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">


<style>
    .table > thead > tr > th {
    padding: 0px;
    }

    .table > tbody > tr > th {
    padding: 0px;
    }
    
    
    .divcolor {
    padding:8px !important;
    background-color: orange !important;
    color:blue;
    font-weight:bold;
    }
</style>
<title>Báo cáo doanh thu theo mã khách hàng</title>
<section class="content">
    <div class="box box-default">
        @*<div class="box-header with-border">
            <h3 class="box-title text-center">Báo cáo doanh thu theo mã khách hàng</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>*@
        <div class="box-header with-border">
            <h3 class="text-center" style="font-weight:bold;">Báo cáo doanh thu chi tiết theo mã khách hàng</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label  >Từ Ngày: </label>
                            </div>
                            <div class="col-md-10 ">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control pull-right" id="fromdate" type="text" data-date-format="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label  >Đơn Vị: </label>
                            </div>
                            <div class="col-md-10 ">
                                <select class="form-control select2" style="width: 100%;" id="unit">
                                    @*<option selected="selected" value="0">Tất Cả</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label  >Dịch Vụ: </label>
                            </div>
                            <div class="col-md-10 ">
                                <select class="form-control select2" style="width: 100%;" id="dichvu">
                                    <option selected="selected" value="0">Tất Cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label  >Khách Hàng: </label>
                            </div>
                            <div class="col-md-10 ">
                                <select class="form-control select2" style="width: 100%;" id="getdate">
                                    <option selected="selected" value="0">Tất cả</option>
                                    <option value="1">Hiện Hữu</option>
                                    <option value="2">KH Mới</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label  >Đến Ngày: </label>
                            </div>
                            <div class="col-md-10 ">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control pull-right" id="todate" type="text" data-date-format="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label  >Bưu Cục: </label>
                            </div>
                            <div class="col-md-10 ">
                                <select class="form-control select2" style="width: 100%;" id="posoffice">
                                    <option selected="selected" value="0">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- /.form-group -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label  >Mã NVTT: </label>
                            </div>
                            <div class="col-md-10 ">
                                <select class="form-control select2" style="width: 100%;" id="manvtt">
                                    <option selected="selected" value="0">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label  >Mã KH: </label>
                            </div>
                            <div class="col-md-10 ">
                                <select class="form-control select2" style="width: 100%;" id="makh">
                                    <option selected="selected" value="0">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- /.col -->
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-default btn-lrg ajax no-print" id="btnreport">Hiển Thị</button>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="box-header">
                @*<h3 class="box-title">Báo cáo doanh thu theo mã khách hàng </h3>*@
            </div>
            <div style="overflow-x:auto;">
                <table id="example1" class="table table-bordered table-hover">
                    <thead>
                        @*<tr class="bg-light-blue color-palette">*@
                        <tr>
                            <th class="text-center">
                               <div class="divcolor">STT<br />&nbsp</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Ngày HĐ<br />&nbsp</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Mã KH<br />&nbsp</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Thời Gian<br />HĐ (ngày)</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tên KH<br />&nbsp</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Mã NVTT<br />&nbsp</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Mã BC<br />&nbsp</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tổng<br />Số BG</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tổng<br />KL (g)</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tổng Tiền<br />COD  (đ)</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tổng Cước<br /> Chính  (đ)</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tổng Cước<br /> Dịch Vụ  (đ)</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tổng Cước<br /> COD  (đ)</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">VAT (đ)<br />&nbsp</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tổng<br /> Cước E1  (đ)</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Chiết<br /> Khấu</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Trích<br /> Thưởng</div>
                            </th>
                            <th class="text-center">
                                <div class="divcolor">Tổng<br /> Nợ  (đ)</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="listbusinessmanagement"></tbody>
                    <tbody id="listsumbusinessmanagement"></tbody>
                </table>
            </div>
            <div class="loading-element">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
            <div class="row">
                <div id="page-selection" class="col-sm-12 text-center">
                </div>
            </div>
            

        </div>
    </div>


    <!-- /.box-body -->





</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#fromdate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");

        $("#todate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    });

    $(document).ready(function () {
        $('.loading-element').hide();
    });

    $("#btnreport").click(function () {
        $("#listbusinessmanagement tr").remove();
        $("#listsumbusinessmanagement tr").remove();
        detail_user_search(1);
        sum_detail_user_search();
    });

    //Phần lấy dữ liệu đơn vị
    $(document).ready(function () {

        $.getJSON("/BusinessManagement/UnitCode", function (data) {
            $.each(data, function (i, data) {
                $('<option>',
                           {
                               value: data.UNIT_CODE,
                               text: data.UNIT_NAME
                           }).html(data.UNIT_CODE + '-' + data.UNIT_NAME).appendTo("#unit");
            });
        })

    });

    //Phần lấy dữ liệu dịch vụ
    $(document).ready(function () {

        $.getJSON("/BusinessManagement/ServiceCode", function (data) {
            $.each(data, function (i, data) {
        $('<option>',
                   {
                       value: data.SERVICE_CODE,
                       text: data.SERVICE_NAME
                   }).html(data.SERVICE_CODE + '-' + data.SERVICE_NAME).appendTo("#dichvu");
            });
        })

    });

    //Phần lấy dữ liệu bưu cục
    $(document).ready(function () {

        $.ajax({
            url: "/BusinessManagement/PosCode",
            dataType: "json",
            data: { id_don_vi: 100000 },
            success: function (data) {
                $('#posoffice').html('<option value=0>Tất Cả </option>');
                jQuery.each(data, function (i, val) {
                    $('#posoffice').html($('#posoffice').html() +
                        "<option value='" + val.POS_CODE + "'>" + val.POS_CODE + '-' + val.POS_NAME + "</option>");
                });
            }
        })

    });

    //Sự kiện thay đổi mã bưu cục theo mã đơn vị
    $(document).ready(function () {
        $('#unit').change(function () {
            $.ajax({
                url: "/BusinessManagement/PosCode",
                dataType: "json",
                data: { id_don_vi: $("#unit").val() },
                success: function (data) {
                    $('#posoffice').html('<option value=0>Tất Cả </option>');
                    jQuery.each(data, function (i, val) {
                        $('#posoffice').html($('#posoffice').html() +
                            "<option value='" + val.POS_CODE + "'>" + val.POS_CODE + '-' + val.POS_NAME + "</option>");
                    });
                }
            });
        })
    });

    @*//Phần JS gọi đến dữ liệu của chi tiết người dùng ĐÃ PHÂN TRANG
    function detail_user_search(p) {
        
        $.ajax({
            url: '@Url.Action("ListDetailedBusinessManagementReport", "BusinessManagement")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            method: 'GET',
            dataType: 'html',
            data: {
                page: p,
                ma_don_vi: $("#unit").val(),
                ma_bc_khai_thac: $("#posoffice").val(),
            },
            success: function (result) {
                $('#listbusinessmanagement').html(result);
                $('.loading-element').hide();
                if (p == 1) refreshPaging();
            }
        })
    }


    //Phần Phân Trang
    function refreshPaging() {
        $('#page-selection').bootpag({
            total: $('#total_page').val(),
            maxVisible: 10,
        }).on("page", function (event, /* page number here */ num) {
            detail_user_search(num);
            $("#listbusinessmanagement tr").remove();
        });
    }*@

    @*//CHẠY CÂU LỆNH CŨ
    //Phần JS gọi đến dữ liệu của chi tiết người dùng CHƯA PHÂN TRANG
    function detail_user_search(p) {

        $.ajax({
            url: '@Url.Action("ListDetailedBusinessManagement2Report", "BusinessManagement")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            method: 'GET',
            dataType: 'html',
            data: {
                ngay_xac_dinh_khach_hang: $("#getdate").val(),
                ma_don_vi: $("#unit").val(),
                ma_bc_khai_thac: $("#posoffice").val(),
                tu_ngay: $("#fromdate").val(),
                den_ngay: $("#todate").val(),
            },
            success: function (result) {
                $('#listbusinessmanagement').html(result);
                $('.loading-element').hide();
                
            }
        })
    }

    //Phần JS gọi đến dữ liệu của tổng chân trang
    function sum_detail_user_search(p) {

        $.ajax({
            url: '@Url.Action("ListSumBusinessManagementReport", "BusinessManagement")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            method: 'GET',
            dataType: 'html',
            data: {
                ngay_xac_dinh_khach_hang: $("#getdate").val(),
                ma_don_vi: $("#unit").val(),
                ma_bc_khai_thac: $("#posoffice").val(),
                tu_ngay: $("#fromdate").val(),
                den_ngay: $("#todate").val(),
            },
            success: function (result) {
                $('#listsumbusinessmanagement').html(result);
                $('.loading-element').hide();

            }
        })
    }*@

    //CHẠY CÂU LỆNH MỚI
    //Phần JS gọi đến dữ liệu của chi tiết người dùng CHƯA PHÂN TRANG
    function detail_user_search(p) {

        $.ajax({
            url: '@Url.Action("ListDetailedBusinessManagement3Report", "BusinessManagement")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            method: 'GET',
            dataType: 'html',
            data: {
                ngay_xac_dinh_khach_hang: $("#getdate").val(),
                ma_don_vi: $("#unit").val(),
                ma_bc_khai_thac: $("#posoffice").val(),
                tu_ngay: $("#fromdate").val(),
                den_ngay: $("#todate").val(),
                dich_vu: $("#dichvu").val(), 
                id_nguoi_dung: $("#manvtt").val(),
            },
            success: function (result) {
                $('#listbusinessmanagement').html(result);
                $('.loading-element').hide();

            }
        })
    }

    //Phần JS gọi đến dữ liệu của tổng chân trang
    function sum_detail_user_search(p) {

        $.ajax({
            url: '@Url.Action("ListSumBusinessManagement2Report", "BusinessManagement")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            method: 'GET',
            dataType: 'html',
            data: {
                ngay_xac_dinh_khach_hang: $("#getdate").val(),
                ma_don_vi: $("#unit").val(),
                ma_bc_khai_thac: $("#posoffice").val(),
                tu_ngay: $("#fromdate").val(),
                den_ngay: $("#todate").val(),
                dich_vu: $("#dichvu").val(),
                id_nguoi_dung: $("#manvtt").val(),
            },
            success: function (result) {
                $('#listsumbusinessmanagement').html(result);
                $('.loading-element').hide();

            }
        })
    }
    

</script>


